.emptySpaceGallery{
    height: 284px;
}

.galleryWrapper{
    display: flex;
    justify-content: center;
    //align-items: center;
    margin-bottom: 534px;
    .galleryImg1{
        width: 361px;
        height: 591px;
        background-image: linear-gradient(to bottom, 
        rgba(233,131,13,.4), rgba(233,131,13,.4)),
        url(../images/gallery_two.jpg);
        background-size: 100%, 125%;
        background-position: 0px,-40px;
        margin-right: 126px;
    }
    .galleryImg2{
        width: 450px;
        height: 300px;
        background-image: linear-gradient(to bottom, 
        rgba(233,131,13,.4), rgba(233,131,13,.4)),
        url(../images/gallery_one.jpg);
        background-size: 100%;
        background-position: 20px,0px;
        margin-right: 133px;
    }
    .galleryImg3{
        width: 512px;
        height: 351px;
        background-image: linear-gradient(to bottom, 
        rgba(0,135,158,.35), rgba(0,135,158,.35)),
        url(../images/gallery_three.jpg);
        background-size: 100%;
        margin-right: 119px;
    }
    .galleryImg4{
        width: 480px;
        height: 628px;
        background-image: linear-gradient(to bottom, 
        rgba(0,135,158,.35), rgba(0,135,158,.35)),
        url(../images/gallery_four.jpg);
        background-size: 100%;
        margin-right: 178px;
    }
    .galleryWrapper2{
        .galleryTitle{
            height: 36px;
            margin-bottom: 65px;
            font-size: 32px;
            text-align: center;
        }
        .galleryP{
            width: 717px;
            height: 521px;
        }
    }
}